<div class="col-sm-8 blog-main">

   <h2><%= @blog.title %></h2>

   <p><%= @blog.topic.title %></p>



<p>
<%= markdown @blog.body %>
</p>

<% if logged_in?(:site_admin) %> 
 <div>
  <%= link_to 'Edit blog post', edit_blog_path(@blog), class: 'btn btn-warning'%>
 </div>
 <br>
<% end %>

  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>
  
 <%= render 'comments/comment_form' %>

<div id="comments" data-blog-id="<%= @blog.id %>">
  <%= render @blog.comments %>
 </div>

</div>